{% extends "account/base.html" %}

{% load account %}

{% block head_title %}Parola Sıfırlama{% endblock %}

{% block content %}

    <h1>Parola Sıfırlama</h1>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>Parolanızı mı unuttunuz? E-posta adresinizi aşağıya yazın, size parolanızı sıfırlamanıza imkan veren e-postayı göndereceğiz.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="button" value="Parolamı Sıfırlama" />
    </form>

    <p>Parolanızı sıfırlarken herhangi bir sorunla karşılaşırsanız lütfen bize ulaşın.</p>
{% endblock %}