{% extends "account/base.html" %}

{% block title %}{{ block.super }} - Üye Ol{% endblock %}

{% block content %}
    <h1>Üye Ol</h1>
    <p>
        Zaten hesabınız var mı? O zaman lütfen
        <a href="{{ login_url }}">giriş yapın</a>.
    </p>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit" class="button">Üye Ol &raquo;</button>
    </form>
{% endblock %}