language: python
python:
  - "2.7"
env:
  - DJANGO_VERSION=1.5
  - DJANGO_VERSION=1.6
install:
  - pip install Django==${DJANGO_VERSION}
  - pip install -r conf/requirements.txt
script: python manage.py test -v2
