{% extends "base.html" %}

{% load gravatar_tags %}

{% block content %}

    {% regroup presentation_list by date as presentations %}

    <div class="presentations">
        {% for date in presentations %}
            <h3>{{ date.grouper }}</h3>
            <ul>
            {% for presentation in date.list %}
                <li>
                    <a href="{{ presentation.link }}" target="_blank">
                        <span>{{ presentation.owner }}</span>
                        {{ presentation.title }}
                    </a></li>
            {% endfor %}
            </ul>
        {% endfor %}
    </div>

{% endblock %}