/* base */

#pyistanbul .fixed-info {
	height: 510px;
	padding-top: 95px;
	background-color: #fff;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-timing-function: ease;
  transition-duration: .5s;
  transition-property: height;

  &.width {
    width: 0;
    height: auto;
    transition-property: width;
  }
}

.fixed-info .info {
	padding-top: 170px;
	background-size: 150px;
	background-position-x: center;
	background-repeat: no-repeat;
	text-align: center;
}

.fixed-info .what {
	background-image: url("../images/what-icon.png");
}

.fixed-info .contact {
	background-image: url("../images/contact-icon.png");
}

.fixed-info .support {
	background-image: url("../images/newsletter-icon.png");
}

.fixed-info .info .sub-title {
	font-size: 18px;
	color: #4a4a4a;
	font-weight: 700;
	margin-bottom: 5px;
	font-family: 'Montserrat';
}

.fixed-info .info p {
	width: 250px;
	color: #9b9b9b;
	font-size: 18px;
	margin: 0 auto;
}

.fixed-info .info p a {
	color: #4a90e2;
}

.card-body {
	padding: 30px 0;
}

/* header */

header {
	width: 100%;
	height: 90px;
	background-color: rgba(48, 40, 143, 0.9);
	position: relative;
	z-index: 3;
}

header._home {
	background: none;
}

header .navbar {
	padding: 0;
	line-height: 90px;
}

.nav-item {
	position: relative;
	height: 90px;
	margin-right: 40px;
}

.nav-item:last-child {
	margin-right: 0;
}

.nav-item.active:after {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	border-bottom: 8px solid rgba(255, 255, 255, 0.1);
}

.nav-item.active a {
	color: #ffd646;
	font-family: 'Montserrat';
}

.nav-item a {
	color: #fff;
}

.nav-item a:hover {
	color: #ffd646;
	text-decoration: none;
}

.nav-item.logo {
	display: table-cell;
}

.nav-item.logo a {
	width: 132px;
	height: 153px;
	display: table-cell;
	vertical-align: middle;
	background-color: #fff;
	box-shadow: 0 3px 2px 0px rgba(0, 0, 0, 0.2);
}

/* footer */

footer {
	padding: 100px 0 30px;
}

footer form button {
	font-family: 'Roboto';
	font-size: 18px;
	color: #fff;
	border-radius: 0;
	background-color: #3023ae;
}

footer .row .col-title {
	color: #9b9b9b;
	font-size: 16px;
	font-family: 'Montserrat';
	margin-bottom: 30px;
}

footer .github {
	color: #9b9b9b;
	font-size: 24px;
	font-family: 'Roboto';
}

footer .github:hover {
	text-decoration: none;
}

footer .github:before {
	content: "\f09b";
	font-family: "FontAwesome";
}

footer .copyright {
	margin-top: 110px;
	padding-top: 20px;
	border-top: 1px solid #e7e7e7;
}

footer .copyright span {
	position: relative;
	color: #9b9b9b;
	font-size: 13px;
	font-family: 'Roboto';
}

footer .copyright span:before {
	content: "";
	top: -6px;
	left: -40px;
	position: absolute;
	width: 31px;
	height: 30px;
	background: url("../images/footer-logo.png") no-repeat 0 0;
}

/* base page */
.page {
	padding-bottom: 60px;
	background-color: #e7e7e7;
}

.no-padding {
   padding: 0 !important;
   margin: 0 !important;
}

.top-shift {
	top: -20px;
	position: relative;
}

.cover {
	height: 160px;
	background-color: rgba(51, 51, 51, 0.8);
}

.cover h2 {
	color: #ffd646;
	font-size: 34px;
	line-height: 40px;
	margin-top: 70px;
	font-weight: 700;
	font-family: 'Montserrat';
}


/* people page */
.people {
	margin-top: -20px;
}

.person {
	text-align: center;
	margin-bottom: 20px;
}

.person img {
	width: 220px;
	height: 220px;
	border-radius: 50%;
}

.person .p-name {
	font-size: 26px;
	color: #404040;
	margin-top: 15px;
	font-family: 'Roboto';
}

.person .p-company {
	font-size: 16;
	line-height: 24px;
	color: #9b9b9b;
	margin-bottom: 5px;
	font-family: 'Roboto';
}

.person .p-company span {
	display: block;
}

.person .p-social {
	padding: 0;
	display: inline-block;
}

.person .p-social li {
	float: left;
	margin-right: 13px;
	list-style-type: none;
}

.person .p-social a {
	color: #3486ff;
	font-size: 21px;
	text-decoration: none;
}

.person .p-social .a-twitter a:before {
	content: "\f099";
	font-family: "FontAwesome";
}

.person .p-social .a-github a:before {
	content: "\f099";
	font-family: "FontAwesome";
}

.person .p-social .a-twitter a:before {
	content: "\f09b";
	font-family: "FontAwesome";
}

.person .p-social .a-blog a:before {
	content: "\f015";
	font-family: "FontAwesome";
}

.people .new-person-btn {
	width: 220px;
	height: 220px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #d8d8d8;
	margin: 0 auto;
	display: table;
}

.people .new-person-btn:before {
	color: #b9b9b9;
	content: "\f067";
	font-size: 80px;
	font-family: "FontAwesome";
	vertical-align: middle;
	display: table-cell;
}

#new-person-form {
	transition: none;
	background-color: rgba(48, 40, 143, 0.9);
}

#new-person-form .modal-dialog {
	width: 460px;
}

#new-person-form .modal-content {
	border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

#new-person-form .modal-header .modal-title {
	color: #3023ae;
	width: 100%;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	font-family: 'Montserrat';
}

#new-person-form .modal-header button {
	position: absolute;
	top: 20px;
	right: 20px;
	color: #9b9b9b;
}

#new-person-form .modal-body {
	padding: 20px 50px 40px;
}

#new-person-form form label {
	color: #474747;
	font-size: 14px;
	font-weight: 500;
	font-family: 'Roboto';
}

#new-person-form form input {
	background-color: #f8f8f8;
}

#new-person-form form input.form-control:focus {
	border-color: #d0d0d0;
	box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.15);
}

#new-person-form form button {
	margin-top: 30px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
	background-image: linear-gradient(to bottom, #5e49d7, #3023ae);
}

/* presentation page */

.event .event-title {
	width: 100%;
	padding: 0 20px;
	font-size: 18px;
	font-weight: 500;
	font-family: 'Roboto';
	margin-bottom: 20px;
}

.event .speakers {
	width: 100%;
	height: 120px;
	line-height: 120px;
	text-align: center;
	margin: 0 0 20px 0;
	background-color: rgba(238, 238, 238, 0.9);
}

.event .speakers ul {
	padding: 0;
	margin: 0;
	display: inline-block;
}

.event .speakers li {
	float: left;
	margin-left: -20px;
	list-style-type: none;
}

.event .speakers li:first-child {
	margin-left: 0;
}

.event .speakers li img {
	border-radius: 50%;
	width: 86px;
	height: 86px;
}

.event .presentations {
	padding: 0 20px;
}

.event .presentations .presentation {
	margin-bottom: 10px;
}

.event .presentations .presentation-title {
	color: #3023ae;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Roboto';
}

.event .presentations .speaker-name {
	color: #404040;
	font-size: 14px;
	font-weight: 500;
	font-family: 'Roboto';	
}

/* home page */
.home {
	width: 100%;
	height: 700px;
	position: relative;
	z-index: 2;
	background: url("../images/home-bg.jpeg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top: -90px;
	padding-top: 140px;
}

.home:before {
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: rgba(48, 40, 143, 0.9);
}

.home .no-event {
	width: 620px;
	position: relative;
	z-index: 2;
	margin: 120px auto 0;
	text-align: center;
}

.home .no-event .newsletter-title {
	color: #ffd646;
	font-size: 14px;
	font-weight: 700;
	position: relative;
	font-family: 'Montserrat';
}

.home .no-event .newsletter-title:before {
	content: "";
	width: 132px;
	height: 1px;
	position: absolute;
	top: 23px;
	left: 50%;
	margin-left: -66px;
	background-color: #ffd646;
}

.home .no-event .newsletter-title:after {
	content: "\f107";
	position: absolute;
	top: 22px;
	left: 50%;
	width: 10px;
	margin-left: -5px;
	color: #ffd646;
	font-family: "FontAwesome";
}

.home .no-event .newsletter-text {
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	margin-top: 40px;
	font-family: 'Roboto';
}

.home .no-event .newsletter-text span {
	display: block;
	font-size: 16px;
	opacity: 0.8;
	margin-top: 5px;
}

.home .no-event form {
	margin-top: 40px;
}

.home .no-event form input {
	width: 380px;
	height: 46px;
	margin-right: 20px;
	float: left;
	border: none;
	border-radius: 0;
}

.home .no-event form button {
	color: #fff;
	float: left;
	height: 46px;
	width: calc(100% - 400px);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
	border: none;
	cursor: pointer;
	background-image: linear-gradient(to bottom, #5e49d7, #3023ae);
}

.home .no-event .submit-info {
	color: #9afb38;
	font-size: 16px;
	text-align: left;
	margin-top: 10px;
	font-family: 'Roboto';
	position: relative;
}

.home .no-event .submit-info:before {
	content: "\f00c";
	color: #9afb38;
	font-size: 18px;
	margin-right: 10px;
	font-family: "FontAwesome";
}

.featured-events {
	background-color: #e7e7e7;
	position: relative;
	z-index: 2;
	overflow: hidden;
	padding-bottom: 70px;
}

.featured-events:before {
	content: "";
	width: 100%;
	height: 260px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-color: #333333;
}

.featured-events .event-years {
	margin-top: 50px;
}

.featured-events .event-years .sub-title {
	color: #646464;
	font-size: 13px;
	font-weight: 700;
	width: 62px;
	font-family: 'Montserrat';
	float: left;
	margin-right: 25px;
}

.featured-events .event-years .years {
	padding: 0;
	display: inline-block;
	float: left;
}

.featured-events .event-years .years li {
	list-style-type: none;
	float: left;
	margin-right: 25px;
	line-height: 31px;
	position: relative;
}

.featured-events .event-years .years li a {
	color: #9b9b9b;
	font-size: 24px;
	font-weight: 300;
	font-family: 'Montserrat';
	text-decoration: none;
}

.featured-events .event-years .years li.active a {
	color: #fff;
	font-size: 36px;
	font-weight: 300;
	font-family: 'Montserrat';
}

.featured-events .event-years .years li.active:after {
	content: "\f107";
	font-family: "FontAwesome";	
	position: absolute;
	bottom: -20px;
	color: #ffd646;
	left: 50%;
	width: 10px;
	margin-left: -5px;
}

.featured-events .event-box-title {
	color: #ffd646;
	font-size: 24px;
	font-weight: 700;
	margin: 30px 0;
	font-family: 'Montserrat';
}

.featured-events .event-boxes .event-box {
	background-color: #fff;
	width: calc((100% - 20px) / 2);
	box-shadow: 0 2px 3px 0px rgba(195, 195, 195, 0.5);
}

.featured-events .event-boxes .event-box > .row {
	margin: 0;
}

.featured-events .event-boxes .event-box:first-child {
	margin-right: 20px;
}

.featured-events .event-boxes .event-box img {
	width: 100%;
	border: 1px solid #fff;
}

.featured-events .event-boxes .event-box .event-details {
	padding: 25px;
}

.featured-events .event-boxes .event-box .event-details .date{
	color: #9b9b9b;
	font-size: 12px;
	font-family: 'Roboto';
}

.featured-events .event-boxes .event-box .event-details .event-title{
	color: #404040;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 20px;
	font-family: 'Roboto';
}

.featured-events .event-details .location, .featured-events .event-details .detail {
	display: inline-block;
	margin-right: 25px;
}

.featured-events .event-details .location a, .featured-events .event-details .detail a {
	color: #9b9b9b;
	font-size: 16px;
	text-decoration: none;
	font-family: 'Roboto';
}

.featured-events .event-details .location a:before {
	content: "\f124";
	margin-right: 4px;
	font-family: "FontAwesome";
}

.featured-events .event-details .detail a:before {
	content: "\f036";
	margin-right: 4px;
	font-family: "FontAwesome";
}