/* base */

#pyistanbul .fixed-info {
	height: 510px;
	padding-top: 95px;
	background-color: #fff;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-timing-function: ease;
  transition-duration: .5s;
  transition-property: height;

  &.width {
    width: 0;
    height: auto;
    transition-property: width;
  }
}

.fixed-info .info {
	padding-top: 170px;
	background-size: 150px;
	background-position-x: center;
	background-repeat: no-repeat;
	text-align: center;
}

.fixed-info .what {
	background-image: url("../images/what-icon.png");
}

.fixed-info .contact {
	background-image: url("../images/contact-icon.png");
}

.fixed-info .support {
	background-image: url("../images/newsletter-icon.png");
}

.fixed-info .info .sub-title {
	font-size: 18px;
	color: #4a4a4a;
	font-weight: 700;
	margin-bottom: 5px;
	font-family: 'Montserrat';
}

.fixed-info .info p {
	width: 250px;
	color: #9b9b9b;
	font-size: 18px;
	margin: 0 auto;
}

.fixed-info .info p a {
	color: #4a90e2;
}

.card-body {
	padding: 30px 0;
}

/* header */

header {
	width: 100%;
	height: 90px;
	background-color: rgba(48, 40, 143, 0.9);
}

header .navbar {
	padding: 0;
	line-height: 90px;
}

.nav-item {
	position: relative;
	height: 90px;
	margin-right: 40px;
}

.nav-item:last-child {
	margin-right: 0;
}

.nav-item.active:after {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	border-bottom: 8px solid rgba(255, 255, 255, 0.1);
}

.nav-item.active a {
	color: #ffd646;
	font-family: 'Montserrat';
}

.nav-item a {
	color: #fff;
}

.nav-item a:hover {
	color: #ffd646;
	text-decoration: none;
}

.nav-item.logo {
	display: table-cell;
}

.nav-item.logo a {
	width: 132px;
	height: 153px;
	display: table-cell;
	vertical-align: middle;
	background-color: #fff;
	box-shadow: 0 3px 2px 0px rgba(0, 0, 0, 0.2);
}

/* footer */

footer {
	padding: 100px 0 30px;
}

footer form button {
	font-family: 'Roboto';
	font-size: 18px;
	color: #fff;
	border-radius: 0;
	background-color: #3023ae;
}

footer .row .col-title {
	color: #9b9b9b;
	font-size: 16px;
	font-family: 'Montserrat';
	margin-bottom: 30px;
}

footer .github {
	color: #9b9b9b;
	font-size: 24px;
	font-family: 'Roboto';
}

footer .github:hover {
	text-decoration: none;
}

footer .github:before {
	content: "\f09b";
	font-family: "FontAwesome";
}

footer .copyright {
	margin-top: 110px;
	padding-top: 20px;
	border-top: 1px solid #e7e7e7;
}

footer .copyright span {
	position: relative;
	color: #9b9b9b;
	font-size: 13px;
	font-family: 'Roboto';
}

footer .copyright span:before {
	content: "";
	top: -6px;
	left: -40px;
	position: absolute;
	width: 31px;
	height: 30px;
	background: url("../images/footer-logo.png") no-repeat 0 0;
}

/* base page */
.page {
	padding-bottom: 60px;
	background-color: #e7e7e7;
}

.top-shift {
	top: -20px;
	position: relative;
}

.cover {
	height: 160px;
	background-color: rgba(51, 51, 51, 0.8);
}

.cover h2 {
	color: #ffd646;
	font-size: 34px;
	line-height: 40px;
	margin-top: 70px;
	font-weight: 700;
	font-family: 'Montserrat';
}


/* people page */
.people {
	margin-top: -20px;
}

.person {
	text-align: center;
	margin-bottom: 20px;
}

.person img {
	width: 220px;
	height: 220px;
	border-radius: 50%;
}

.person .p-name {
	font-size: 26px;
	color: #404040;
	margin-top: 15px;
	font-family: 'Roboto';
}

.person .p-company {
	font-size: 16;
	line-height: 24px;
	color: #9b9b9b;
	margin-bottom: 5px;
	font-family: 'Roboto';
}

.person .p-company span {
	display: block;
}

.person .p-social {
	padding: 0;
	display: inline-block;
}

.person .p-social li {
	float: left;
	margin-right: 13px;
	list-style-type: none;
}

.person .p-social a {
	color: #3486ff;
	font-size: 21px;
	text-decoration: none;
}

.person .p-social .a-twitter a:before {
	content: "\f099";
	font-family: "FontAwesome";
}

.person .p-social .a-github a:before {
	content: "\f099";
	font-family: "FontAwesome";
}

.person .p-social .a-twitter a:before {
	content: "\f09b";
	font-family: "FontAwesome";
}

.person .p-social .a-blog a:before {
	content: "\f015";
	font-family: "FontAwesome";
}

.people .new-person-btn {
	width: 220px;
	height: 220px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #d8d8d8;
	margin: 0 auto;
	display: table;
}

.people .new-person-btn:before {
	color: #b9b9b9;
	content: "\f067";
	font-size: 80px;
	font-family: "FontAwesome";
	vertical-align: middle;
	display: table-cell;
}

#new-person-form {
	transition: none;
	background-color: rgba(48, 40, 143, 0.9);
}

#new-person-form .modal-dialog {
	width: 460px;
}

#new-person-form .modal-content {
	border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

#new-person-form .modal-header .modal-title {
	color: #3023ae;
	width: 100%;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	font-family: 'Montserrat';
}

#new-person-form .modal-header button {
	position: absolute;
	top: 20px;
	right: 20px;
	color: #9b9b9b;
}

#new-person-form .modal-body {
	padding: 20px 50px 40px;
}

#new-person-form form label {
	color: #474747;
	font-size: 14px;
	font-weight: 500;
	font-family: 'Roboto';
}

#new-person-form form input {
	background-color: #f8f8f8;
}

#new-person-form form input.form-control:focus {
	border-color: #d0d0d0;
	box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.15);
}

#new-person-form form button {
	margin-top: 30px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
	background-image: linear-gradient(to bottom, #5e49d7, #3023ae);
}

/* presentation page */

.event .event-title {
	width: 100%;
	padding: 0 20px;
	font-size: 18px;
	font-weight: 500;
	font-family: 'Roboto';
	margin-bottom: 20px;
}

.event .speakers {
	width: 100%;
	height: 120px;
	line-height: 120px;
	text-align: center;
	margin: 0;
	background-color: rgba(238, 238, 238, 0.9);
}

.event .speakers ul {
	padding: 0;
	margin: 0;
	display: inline-block;
}

.event .speakers li {
	float: left;
	margin-left: -20px;
	list-style-type: none;
}

.event .speakers li:first-child {
	margin-left: 0;
}

.event .speakers li img {
	border-radius: 50%;
	width: 86px;
	height: 86px;
}

.event .presentations {
	padding: 20px 20px 0;
}

.event .presentations .presentation {
	margin-bottom: 20px;
}

.event .presentations .presentation-title {
	color: #3023ae;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Roboto';
}

.event .presentations .speaker-name {
	color: #404040;
	font-size: 14px;
	font-weight: 500;
	font-family: 'Roboto';	
}