{% extends "base.html" %}

{% load gravatar %}
{% load people_extras %}

{% block content %}

    <div class="buttons">
        <a href="{% url "people:new" %}">Yeni Kişi Ekle</a>
    </div>

    <ul class="people">
    {% for person in person_list %}
        <li {% if person.badge %}class="{{ person.badge }}"{% endif %}>
            {% gravatar person.email 100 %}
            <p>
                {% if person.badge %}
                    {% if person.badge == "huseyinalbing" %}
                        <a href="http://500t.org/?o=huseyinalb" class="badge"></a>
                    {% endif %}
                {% endif %}
                <strong>{{ person.name }}</strong>
                {% if person.twitter_username %}<a href="http://twitter.com/{{ person.twitter_username }}">{% fontawesome "twitter" %}</a>{% endif %}
                {% if person.github_username %}<a href="http://github.com/{{ person.github_username }}">{% fontawesome "github" %}</a>{% endif %}
                {% if person.blog_link %}<a href="{{ person.blog_link }}">{% fontawesome "home" %}</a>{% endif %}
            </p>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
