{% extends "base_page.html" %}

{% load gravatar %}
{% load people_extras %}

{% block page %}
    <div class="container">
        <div class="row">
            <ul class="col-md-12 people">
            {% for person in person_list %}
                <li class="col-md-3 {% if person.badge %}{{ person.badge }}{% endif %}">
                    {% gravatar person.email 100 %}
                    <div class="p-name">{{ person.name }}</div>
                    <div class="p-company">software developer <span>@adphorus</span></div>
                    <ul class="p-social">
                        {% if person.twitter_username %}
                            <li class="a-twitter">
                                <a href="http://twitter.com/{{ person.twitter_username }}"></a>
                            </li>
                        {% endif %}
                        {% if person.github_username %}
                            <li class="a-github">
                                <a href="http://github.com/{{ person.github_username }}"></a>
                            </li>
                        {% endif %}
                        {% if person.blog_link %}
                            <li class="a-blog">
                                <a href="{{ person.blog_link }}"></a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endfor %}
                <li class="col-md-3">
                    <div class="new-person-btn"></div>
                    <div class="p-name">Yeni Kişi Ekle</div>
                </li>
            </ul>
        </div>  
    </div>
{% endblock %}
