{% extends "base.html" %}

{% block content %}
<article>
    <header>
        <h2>Python Istanbul web sitesini yeniledik</h2>
    </header>
</article>

<aside>
    <h3>Python İstanbul nedir?</h3>
    <p>İstanbul'daki Python programcıları topluluğudur.
        Eğer Python ilginizi çekiyorsa siz de bu topluluğa katılabilirsiniz. </p>
    <h3>Nasıl iletişim kurabilirim?</h3>
    <p>Hergün freenode üzerinde #pyistanbul kanalında buluşuyoruz.</p>
    <h3>Desteğe ihtiyacım var</h3>
    <p>IRC kanalı üzerinden ya da mail python-istanbul mail grubu
        üzerinden sorularınızı sorabilirsiniz.</p>
    <p><a href="http://groups.google.com/group/python-istanbul" class="button">Listeye Kaydol</a></p>
</aside>
{% endblock %}