/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    background: url(../images/fiber-papers.png);
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.footer-container,
.main aside {
    border-top: 20px solid #3773a5;
}

.header-container,
.footer-container,
.main aside {
    background: #fff;
    color: gray;
}

.title {
    color: white;
}

nav li {
    margin-left: 10px;
}

nav a {
    background: #ededed;
    padding: 10px 20px;
    color: #525252;
    font-size: 26px;
    letter-spacing: -1px;
    text-decoration: none;
}

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    padding: 0 5% 10px;
}

.footer-container footer {
    padding: 20px 0;
}

.post {
    width: 550px;
    line-height: 27px;
    color: #4a4a4a;
}

.post h3 a {
    color: #393939;
    text-decoration: none;
}

.post time {
    font-size: 23px;
    color: #888888;
}

.post h3 {
    color: #393939;
    font-size: 30px;
    margin: 3px 0;
}

#github {
    background: url(../images/octocat.jpg) no-repeat left -70px;
    float: right;
    width: 510px;
    padding-top: 10px;
    text-align: right;
    margin-top: -20px;
    height: 95px;
}

#github a {
    color: #3e82ba;
    font-size: 20px;
    text-decoration: none;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

header h1#logo {
    width: 340px;
    height: 91px;
}

.presentations ul {
    background: white;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #d1d1d1;
    width: 700px;
}

.presentations ul li {
    margin: 20px;
    list-style: none;
}

.presentations ul li a {
    color: #4691d0;
    font-size: 20px;
    text-decoration: none;
}

.presentations ul li a span {
    color: gray;
    display: block;
}

.presentations h3 {
    color: gray;
    padding: 10px 20px;
    font-size: 20px;
    float: left;
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 20%;
}


.header-container,
.main aside {
    -webkit-box-shadow: 0 1px 10px #aaa;
       -moz-box-shadow: 0 1px 10px #aaa;
            box-shadow: 0 1px 10px #aaa;
}


nav {
    float: right;
    margin-top: -90px;
}
nav ul li {
    display: inline;
}

.main article {
    float: left;
    width: 50%;
}

.main aside {
    float: right;
    width: 28%;
}

.buttons {
    margin: 0 0 20px;
}

.buttons a, .button {
    -moz-box-shadow:inset 0 1px 0 0 #ffffff;
    -webkit-box-shadow:inset 0 1px 0 0 #ffffff;
    box-shadow:inset 0 1px 0 0 #ffffff;
    background:-webkit-gradient(linear, left top, left bottom,
                                color-stop(0.05, #ffffff),
                                color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(center top, #ffffff 5%, #f6f6f6 100% );
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#666666;
    font-size:15px;
    font-weight:bold;
    padding:10px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0 #ffffff;
}

.buttons a:hover, .button:hover {
     background:-webkit-gradient(linear, left top, left bottom,
                                 color-stop(0.05, #f6f6f6),
                                 color-stop(1, #ffffff) );
     background:-moz-linear-gradient(center top, #f6f6f6 5%, #ffffff 100%);
     background-color:#f6f6f6;
}

.buttons a:active, .button:active {
    position:relative;
    top:1px;
}

ul.people {
    margin: 0;
    padding: 0;
}

ul.people li {
    float: left;
    width: 300px;
    height: 130px;
    background: white;
    list-style: none;
    padding: 0;
    margin: 0 20px 15px 0;
    border-radius: 6px;
    box-shadow: 1px 1px 1px #d1d1d1;
}

ul.people li img {
    float: left;
    width: 130px;
    height: 130px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

ul.people li p {
    width: 130px;
    float: left;
    margin: 10px;
    padding: 0;
    font-size: 22px;
}

ul.people li p strong {
    width: 100%;
    display: block;
}

ul.people li p a {
    display: block;
    color: #4994cf;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: -6px;
}

form {
}

form label {
    display: block;
    float: left;
    width: 120px;
    color: #303030;
    cursor: pointer;
    padding-top: 5px;
}

form input, form textarea {
    padding: 7px 4px;
}

form footer {
    margin-left: 125px;
}

form .line {
    margin-bottom: 20px;
}

form .help {
    color: gray;
    margin: 0 0 0 120px;
}

ul.people li p a:hover {
    color: #252525;
}

.job {
    width: 700px;
    margin: 2px 10px;
}

.job .button {
    margin-left: 220px;
}

.jobs {
    margin-top: 30px;
    margin-left: 0;
    padding: 0;
    min-height: 400px;
}

.jobs li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.jobs li time {
    color: #b4b4b4;
    display: inline-block;
    width: 160px;
    text-align: right;
    border-right: 3px solid #d9d9d9;
    padding-right: 10px;
}

.jobs li a {
    text-decoration: none;
    color: black;
}

.jobs li a span {
    color: gray;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}