{% extends "base.html" %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
    <div class="post">
        <header>
            <time>{{ object.created_at|date:"j F Y" }}</time>
            <h3>{{ object.title }}</h3>
        </header>
        {{ object.description }}
    </div>

    {% if BLOG_SETTINGS.USE_DISQUS %}
    <div id="comments" class="post box">
      <div class="content-space">
        {% include "blog/partials/disqus.html" %}
      </div>
    </div>
  {% endif %}
{% endblock %}