{% load static %}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}{{ BLOG_SETTINGS.TITLE }}{% endblock %}
        {% if page_title %}&mdash; {{ page_title }}{% endif %}
    </title>
    <meta name="description" content="{{ BLOG_SETTINGS.DESCRIPTION }}">
    <link rel="shortcut icon" type="image/favicon" href="{% static 'images/favicon.ico' %}">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link href="{% url 'blog:rss-feed' %}" type="application/rss+xml" rel="alternate" />
    <!--[if lt IE 9]><script src="{% static 'js/html5shiv.js' %}"></script><![endif]-->

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

    {% block head %}
    {% endblock head %}
</head>
<body>
    <!--
    [if lt IE 7]>
        <p class="chromeframe">
            You are using an outdated browser.
            <a href="http://browsehappy.com/">Upgrade your browser today</a>
            or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a>
            to better experience this site.
        </p>
    <![endif]
    -->
    <div class="collapse" id="pyistanbul">
        <div class="container fixed-info">
            <div class="row">
                <div class="col-md-4 info what">
                    <div class="sub-title">Nedir?</div>
                    <p>İstanbul'daki Python programcıları topluluğudur. Eğer Python ilginizi çekiyorsa siz de bu topluluğa katılabilirsiniz.</p>
                </div>
                <div class="col-md-4 info contact">
                    <div class="sub-title">Nasıl iletişim kurabilirim?</div>
                    <p>Her gün Freenode'daki <a href="#">#pyistanbul</a> kanalında buluşuyoruz.</p>
                </div>
                <div class="col-md-4 info support">
                    <div class="sub-title">Desteğe ihtiyacım var</div>
                    <p>IRC'de ya da python-istanbul e-posta listesinde sorularınızı sorabilirsiniz.</p>
                </div>
            </div>
        </div>
    </div>
    <header class="{% if page == 'home' %}_home{% endif %}">
        <nav class="navbar navbar-expand-sm">
            <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
                <div class="text-center">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a data-toggle="collapse" href="#pyistanbul">NEDİR?</a>
                        </li>
                        <li class="nav-item {% if page == 'presentation' %}active{% endif %}">
                            <a href="{% url 'presentations:index' %}">SUNUMLAR</a>
                        </li>
                        <li class="nav-item logo">
                            <a href="{% url 'blog:home' %}">
                                <img src="{% static 'images/logo.svg' %}" alt="Pyistanbul">
                            </a>
                        </li>
                        <li class="nav-item {% if page == 'people' %}active{% endif %}"><a href="{% url 'people:index' %}">İNSANLAR</a></li>
                        <li class="nav-item {% if page == 'blog' %}active{% endif %}"><a href="#">BLOG</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    {% block cover %}
    {% endblock %}

    {% block content %}

    {% endblock content %}

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-title">NEWSLETTER</div>
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Type your email address"> 
                        </div>
                        <button class="btn btn-block">Send</button>
                    </form>
                </div>
                <div class="col-md-4">
                    <div class="col-title">GITHUB</div>
                    <a class="github" href="#">pyistanbul</a>
                </div>
                <div class="col-md-4">
                    <div class="col-title">CONNECT WITH US</div>
                </div>
            </div>
            <div class="row justify-content-center copyright"><span>2015 © PyIstanbul</span></div>
        </div>
    </footer>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-36021524-2', 'pyistanbul.org');
      ga('send', 'pageview');
    </script>
</body>
</html>