{% extends "base.html" %}

{% block title %}Python İstanbul Nedir?{% endblock %}

{% block content %}
    <div class="post">
        <header>
            <h3>Python İstanbul Nedir?</h3>
        </header>
    </div>

    <div id="comments" class="post box">
      <div class="content-space">
        <p>
            İstanbul'daki Python programcıları topluluğu olarak 2010 yılından bu yana çeşitli etkinlikler düzenledik.
            Yaptığımız etkinliklere sunumlar sayfasından göz atabilirsiniz.
        </p>
          <P>Bunun dışında,</P>
          <ul>
              <li>Tek günlük mini bir konferans yaptık</li>
              <li>Julython hackathon'ı düzenledik</li>
              <li>Django sprint'i düzenledik</li>
              <li>Jstanbul ile beraber JsPyConf'u düzenledik</li>
          </ul>
      </div>
    </div>
{% endblock %}