{% extends "base.html" %}

{% block content %}
<article>
    {% for post in object_list %}
       <div class="post">
           <header>
               <time>{{ post.created_at|date:"j F Y" }}</time>
               <h3><a href="{{ post.get_absolute_url }}">{{ post }}</a></h3>
           </header>
           {{ post.content_body|safe }}
       </div>
    {% endfor %}
</article>

<aside>
    <h3>Python İstanbul nedir?</h3>
    <p>
        İstanbul'daki Python programcıları topluluğudur. Eğer Python
        ilginizi çekiyorsa siz de bu topluluğa katılabilirsiniz.
    </p>
    <h3>Nasıl iletişim kurabilirim?</h3>
    <p>Her gün Freenode'daki #pyistanbul kanalında buluşuyoruz.</p>
    <h3>Desteğe ihtiyacım var</h3>
    <p>IRC'de ya da python-istanbul e-posta listesinde sorularınızı sorabilirsiniz.</p>
    <p><a href="http://groups.google.com/group/python-istanbul" class="button">Listeye Kaydol</a></p>
    <p id="oreilly-ug">
        <a href="http://oreilly.com/ug/"><img alt="O'Reilly User Groups"
                                              src="http://oreilly.com/ug/banners/ug_ad_250_python.gif"></a>
    </p>
</aside>
{% endblock %}
