{% extends "base.html" %}

{% block content %}
<article>
    {% for post in object_list %}
       <div class="post">
           <header>
               <time>{{ post.created_at|date:"j F Y" }}</time>
               <h3><a href="{{ post.get_absolute_url }}">{{ post }}</a></h3>
           </header>
           {% autoescape off %}
             {{ post.description.rendered }}
          {% endautoescape %}
       </div>
    {% endfor %}

    {% if is_paginated and page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="button">
            Daha fazla
        </a>
    {% endif %}
</article>

<aside>
    <h3>Python İstanbul nedir?</h3>
    <p>
        İstanbul'daki Python programcıları topluluğudur. Eğer Python
        ilginizi çekiyorsa siz de bu topluluğa katılabilirsiniz.
    </p>
    <h3>Nasıl iletişim kurabilirim?</h3>
    <p>Her gün Freenode'daki #pyistanbul kanalında buluşuyoruz.</p>
    <h3>Desteğe ihtiyacım var</h3>
    <p>IRC'de ya da python-istanbul e-posta listesinde sorularınızı sorabilirsiniz.</p>
    <p><a href="http://groups.google.com/group/python-istanbul" class="button">Listeye Kaydol</a></p>
    <p id="oreilly-ug">
        <a href="http://oreilly.com/"><img alt="O'Reilly User Groups"
                                              src="http://cdn.oreillystatic.com/community/promote/ug_ad_250_python.gif"></a>
    </p>
</aside>
{% endblock %}
